extends ../base

block layout
  body.layout
    //- +main-header(aria-label='Шапка сайта').layout__main-header

    main(aria-label='Основной контент страницы').layout__main-content
      block main

    //- +main-footer(aria-label='Подвал сайта').layout__footer

    script(src='js/scripts.min.js')
