extends ../base

block layout
  body.layout
    main(aria-label='Основной контент страницы').layout__main-content
      block main

    +footer(links).layout__main-footer

    script(src='js/scripts.min.js')
