.layout {
  position: relative;

  display: grid;
  grid-template-columns: 1fr minmax(280px, 1200px) 1fr;
  min-height: 100vh;

  column-gap: $desktop-paddings;
}

.layout__main-content {
  grid-column: 2;
}

@include media("<desktop") {
  .layout {
    column-gap: $tablet-paddings;
  }
}

@include media("<tablet") {
  .layout {
    column-gap: $mobile-paddings;
  }
}
