.about {
  margin-bottom: 70px;
  padding-top: 60px;

  text-align: center;
}

.about__avatar {
  display: block;
  width: 240px;
  height: 240px;

  margin: 0 auto;
  margin-bottom: 13px;
  object-fit: cover;
  object-position: 0 -80px;

  border-radius: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  rotate: 10deg;
}

.about__profession {
  margin: 0;
  margin-bottom: 7px;

  font-weight: inherit;
  font-size: 24px;
}

.about__name {
  margin: 0;
  margin-bottom: 25px;

  font-weight: inherit;
  font-size: inherit;
}

.about__description {
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.about__contacts-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__contacts-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
