@font-face {
  font-weight: 400;
  font-family: "Rubik";
  font-style: normal;
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/Rubik-Regular.woff") format("woff");
  font-display: swap;
}

