$primary: #7653fc;
$primary-hover: #5f40de;
$primary-active: #472abb;
$filter-primary: invert(88%) sepia(63%) saturate(1737%) hue-rotate(319deg) brightness(103%) contrast(101%);
$filter-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

$gray-primary: #3b434e;
$gray-1: #787d85;

$white-primary: #ffffff;
$white-1: #dfdfdf;

$page-color: #ffffff;
$outline-color: #ffdc3d;

$button-disabled-color: #787d85;
$button-ghost-border-color: #ebebeb;
$input-placeholder-color: #a4a4a4;

$shadow-primary: 0 4px 4px rgba(0, 0, 0, 0.05);
$border-radius-primary: 5px;

$font-base: "Rubic", "Arial", sans-serif;

$mobile-paddings: 20px;
$tablet-paddings: 25px;
$desktop-paddings: 30px;
