.index-main {
  padding-top: 70px;
  padding-bottom: 70px;
}

.index-main__about {
  margin-bottom: 70px;
}

.index-main__skills {
  margin-bottom: 70px;
}

.index-main__projects {
  margin-bottom: 70px;
}
