extends ../layout/layout

block varaiables
  - const meta = pages.index.meta
  - const {links, skills, projects, profession, name, about} = pages.index.data

block main
  .index-main
    h1.visually-hidden Pavel Tagiltsev's portfolio
    +about(links, {profession, name, about}).index-main__about
    +skills(skills).index-main__skills
    +projects(projects).index-main__projects
