.index-main {
  padding-top: 10px;
}

.index-main__header {
  margin-bottom: 20px;
}

.index-main__courses {
  margin-bottom: 50px;
}

.index-main__vacancy {
  margin-bottom: 50px;
}

.index-main__advantages {
  margin-bottom: 30px;
}

.index-main__skills {
  margin-bottom: 50px;
}
