mixin skills(skills)
  section(class!=`${'skills'}`)&attributes(attributes)
    h2.visually-hidden Developer Skills

    h3.skills__title Coding
    ul.skills__list
      each skill in skills.coding
        li(class!=`skills__item skills__item--${skill.toLowerCase()}`)= skill
    h3.skills__title Design
    ul.skills__list
      each skill in skills.design
        li(class!=`skills__item skills__item--${skill.toLowerCase()}`)= skill
