-
  const codingSkills = [
    'html',
    'css',
    'pug',
    'sass',
    'javascript',
    'react',
    'redux',
    'webpack',
    'gulp',
    'git',
  ]

  const designSkills = [
    'figma',
    'photoshop',
  ]

mixin skills
  section(class!=`${'skills'}`)&attributes(attributes)
    h3.skills__title Coding
    ul.skills__list
      each skill in codingSkills
        li(class!=`skills__item skills__item--${skill}`)= skill
    h3.skills__title Design
    ul.skills__list
      each skill in designSkills
        li(class!=`skills__item skills__item--${skill}`)= skill
