@import "./fonts";

.skills {
  text-align: center;
}

.skills__title {
  margin: 0;
  margin-bottom: 15px;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.skills__item {
  position: relative;

  margin-bottom: 10px;
  margin-left: 15px;
  padding-left: 30px;

  &:first-child {
    margin-left: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;

    background-repeat: no-repeat;
    background-position: center;

    content: "";
  }

  &--html::before {
    background-image: url("../images/stack-sprite.svg#html-logo");
  }

  &--css::before {
    background-image: url("../images/stack-sprite.svg#css-logo");
  }

  &--pug::before {
    background-image: url("../images/stack-sprite.svg#pug-logo");
  }

  &--sass::before {
    background-image: url("../images/stack-sprite.svg#sass-logo");
  }

  &--javascript::before {
    background-image: url("../images/stack-sprite.svg#javascript-logo");
  }

  &--react::before {
    background-image: url("../images/stack-sprite.svg#react-logo");
  }

  &--redux::before {
    background-image: url("../images/stack-sprite.svg#redux-logo");
  }

  &--webpack::before {
    background-image: url("../images/stack-sprite.svg#webpack-logo");
  }

  &--gulp::before {
    background-image: url("../images/stack-sprite.svg#gulp-logo");
  }

  &--git::before {
    background-image: url("../images/stack-sprite.svg#git-logo");
  }

  &--figma::before {
    background-image: url("../images/stack-sprite.svg#figma-logo");
  }

  &--photoshop::before {
    background-image: url("../images/stack-sprite.svg#photoshop-logo");
  }
}
