.projects__list {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  grid-template-rows: 1fr;
}

@include media('>desktop') {
  .projects__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@include media('>=tablet', '<desktop') {
  .projects__list {
    grid-template-columns: 1fr 1fr;
  }
}

@include media('<tablet') {
  .projects__list {
    grid-template-columns: 1fr;
  }
}
