.footer {
  padding: 30px 0;

  color: #ffffff;
  text-align: center;

  background-color: $gray-primary;
}

.footer__contacts-list {
  @include list-style-none;
}

.footer__contacts-item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}
